target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
/annotation/nb-configuration.xml
/nb-configuration.xml
/annotation/nbactions-jar.xml